<!DOCTYPE html>
<html>
  <head>
    <title>My recipe box</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My recipe box</h1>
    <p>Welcome to my recipe box</p>

  </body>
</html>
